body{
  background-size: cover;
}
.loanhistory{
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background:rgba(20,10,10,.8);
  padding: 20px;
  margin: 150px auto 0;
  text-align: center;
  float:right;
  margin-right: 465px;
  color:white;

}

section{
  width:350px;
  float:right;
  margin-right: 730px;
  padding:10px;

}

footer{
background-color: blue;
color:white;
text-align:center;
padding:1px;
clear: both;
margin:100px;

}
table{
  width:800px;
  margin:auto;
  table-layout: fixed;
  text-align:center;
  font-family:Arial;
  align:center;
  opacity:0.92;
}
table, th, td{
  border:1px solid black;
  border-collapse: collapse;
  padding:2px;
  font-size:20px;
}
th{
  background:dodgerblue;
  padding:30px;
  text-transform:uppercase;
}
table{

  text-align: center;
  table-layout: fixed;
}
table, tr, th ,td{
  padding:5px;
  color:white;
  border:1px solid #080808;
  border-collapse:collapse;
  font-size:18px;
  font-family:arial;
  background:linear-gradient(top, #3c3c3c 0%,#222222 100%);
  background:-webkit-linear-gradient(top, #3c3c3c 0%,#222222 100%);
}
td:hover{
  background:gray;
}
